*{
    box-sizing: border-box;
    display: block;
    
    
}
componente{
    margin: 10px;
    padding: 10px;
    border-color: blue;
    border-width: 2px;
    border-style: solid;
    foount-family: Arial, sans-serif;

}
nombre{
    background-color: black;
    font-color: white;
}
fabricante{
    border-bottom: 1px solid black;
}

tienda{
    border-bottom: 1px solid black;
}

contenido{
    border-bottom: 1px solid black;
}